<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../styles/custom.css">
</head>
<body>
<div id="chat">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">NyanChat</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Join 
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" id="formLogin">
                        <div class="row">
                            <div class="container-fluid dropdown-item">
                                <form>
                                    <div class="form-group">
                                        <label>Join</label>
                                        <input type="text" class="form-control" v-model="username">
                                    </div>
                                    <a href="#" class="btn btn-success btn-sm" v-on:click="sendUser">Join</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#">Create New Room +</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="#">Okekekek</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body body-chat">
                        <blockquote v-for="item in items">
                            {{ item }}
                        </blockquote>
                    </div>
                    <div>
                        <textarea class="form-control" rows="3" v-model="data"></textarea>
                        <button type="button" class="btn btn-primary" v-on:click="sendChat">Send</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                    <li v-for="user in users"> {{ user }} has join</li>
                </ul>
            </div>
        </div>
    </div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.js"></script>
    <script>
        var socket = io.connect('http://localhost:8080');
        new Vue({
            el: '#chat',
            data : {
                items: [],
                data: '',
                username: '',
                logs: [],
                users: []
            },
            mounted() {
                var items = this.items
                var logs = this.logs
                var users = this.users
                socket.on('log', function(data){
                    logs.push(data)
                })
                socket.on('get-chat', function(data){
                    items.push(data)
                })
                socket.on('get-user', function(data){
                    users.push(data)
                })
            },
            methods: {
                sendChat: function(){
                    socket.emit('send-chat', this.data)
                    this.data = ''
                },
                sendUser: function(){
                    socket.emit('send-user', this.username)
                    this.username = ''
                }
            }
        })

    </script>
</body>
</html>